{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'HR_App:index' %}">Xcel Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
          {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'HR_App:admin' %}">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'HR_App:signup' %}">Create User</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'HR_App:logs' %}">Logs</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'HR_App:user_status' %}">Status</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'HR_App:attendance' %}">Attendance</a>
          {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'HR_App:logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'HR_App:login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<!-- Content -->
<div class="container">
  {% block content %}
  {% endblock %}
</div>

<!-- Add Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

<script src="{% static 'HR_App/js/Main.js' %}"></script>

</body>
</html>