{% extends "HR_App/base.html" %}

{% block title %}Xcel Portal{% endblock %}

{% block content %}
    <div class="container">
        <h1>Xcel Portal</h1>
    </div>
    {% if user.is_authenticated %}
        <div class="container">
            <h1><span class="text-primary font-weight-bold text-uppercase mr-2 ml-2">{{ request.user.username }}</span></h1>
        </div>
        {% if profile.is_on_break %}
            <div class="container">
                <h1>You are on break</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="is_on_break" value="no_break">
                <button class="btn btn-danger" type="submit">End Break</button>
            </form>
        {% else %}
            <div class="container">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="is_on_break" value="break">
                <button class="btn btn-success" type="submit">Start Break</button>
            </form>
            </div>
        {% endif %}
    {% else %}
        <div class="card text-center mt-5">
            <h1 class="card-header">Welcome to Xcel Portal</h1>
            <a class="btn btn-primary mt-3 mb-3 card-body" href="{% url 'HR_App:login' %}">Login</a>

        </div>
    {% endif %}
{% endblock %}