{% extends "HR_App/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form class="form-group" action="" method="post">
        {% csrf_token %}
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password">
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
{% endblock %}