{% extends "HR_App/base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
    <h1>Logout</h1>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Logout</button>
    </form>
{% endblock %}