{% extends "HR_App/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ extra_form.as_p }}
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
{% endblock %}