{% extends "HR_App/base.html" %}

{% block content %}
    <h1>{{ user_att.first_name }} {{ user_att.last_name }} Attendance</h1>
    <!-- Form for filtering attendance in year, month and day -->

    <section>
        <h2>Filter by:</h2>
        <form action="{% url 'HR_App:attendance_user' user_att.id %}" method="get">
            {% csrf_token %}
            <div class="form-group">
                <label for="year">Year:</label>
                <select class="form-control" id="year" name="year">
                    <option value="">All</option>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
                <label for="month">Month:</label>
                <select class="form-control" id="month" name="month">
                    <option value="">All</option>
                    {% for month in months %}
                        <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
                <label for="day">Day:</label>
                <select class="form-control" id="day" name="day">
                    <option value="">All</option>
                    {% for day in days %}
                        <option value="{{ day }}">{{ day }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </section>




    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Check In</th>
                <th>Check Out</th>
            </tr>
        </thead>
        <tbody>
            {% for att in attendances %}
                <tr>
                    <td>{{ att.date }}</td>
                    <td>{{ att.in_time }}</td>
                    <td>{{ att.out_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}