*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.swp
.DS_Store
*.bak
*.log

# Django #
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Virtualenv #
venv/
ENV/
env/
env.bak/
venv.bak/

# PyCharm #
.idea/
*.iml

# Jupyter Notebook #
.ipynb_checkpoints
*.ipynb_meta

# Visual Studio Code #
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
